/* Imported Fonts */
@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url(/assets/fonts/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: 'Poppins-Light';
  src: url(/assets/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url(/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url(/assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url(/assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url(/assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: 'Poppins-Black';
  src: url(/assets/fonts/Poppins-Black.ttf);
}

:root {
  /* Color Palette */
  --blueOrigin: #12448D;
  --lightBlueOrigin: #07A3D9;
  --redOrigin: #DE0B17;
  --purpleOrigin: #CDE1FF;
  --ultraLightBlueOrigin: #CFEBFF;
}

* {
  margin: 0;
  color: #FFFFFF;
  font-family: 'Poppins-Regular';
}

/* Buttons */

.btn {
  border: none;
  background: var(--lightBlueOrigin);
  border-radius: 5px;
  outline: none;
  padding-inline: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
  z-index: 3;
  transition: .3s;
}

.btn:hover {
  background-color: var(--redOrigin);
}

/* Text Colors */

.blueO {
  color: var(--blueOrigin);
}

.lightBlueO {
  color: var(--lightBlueOrigin);
}

.redO {
  color: var(--redOrigin);
}

.purpleO {
  color: var(----purpleOrigin);
}

.ultraLightBlueOBg {
  background-color: var(--ultraLightBlueOrigin);
}

.purpleOBg {
  background-color: var(----purpleOrigin);
}

.linearGradientBg1 {
  background: rgb(255, 255, 255);
  background: linear-gradient(176deg, rgba(255, 255, 255, 1) 0%, rgba(229, 244, 255, 1) 100%);
}

.linearGradientBg2 {
  background: rgb(229, 244, 255);
  background: linear-gradient(176deg, rgba(229, 244, 255, 1) 0%, rgba(207, 235, 255, 1) 100%);
}

.linearGradientBg3 {
  background: rgb(16, 64, 136);
  background: linear-gradient(180deg, rgba(16, 64, 136, 1) 0%, rgba(1, 46, 110, 1) 35%);
}

/* Font Family */

.poppins-extralight {
  font-family: 'Poppins-ExtraLight';
  font-weight: normal;
}

.poppins-light {
  font-family: 'Poppins-Light';
  font-weight: normal;
}

.poppins-regular {
  font-family: 'Poppins-Regular';
  font-weight: normal;
}

.poppins-semibold {
  font-family: 'Poppins-SemiBold';
  font-weight: normal;
}

.poppins-bold {
  font-family: 'Poppins-Bold';
  font-weight: normal;
}

.poppins-extrabold {
  font-family: 'Poppins-ExtraBold';
  font-weight: normal;
}

.poppins-black {
  font-family: 'Poppins-Black';
  font-weight: normal;
}

/* Text Sizes */

.t-10 {
  font-size: 10px;
}

.t-12 {
  font-size: 12px;
}

.t-13 {
  font-size: 13px;
}

.t-14 {
  font-size: 14px;
}

.t-15 {
  font-size: 15px;
}

.t-16 {
  font-size: 16px;
}

.t-18 {
  font-size: 18px;
}

.t-20 {
  font-size: 20px;
}

.t-23 {
  font-size: 23px;
}

.t-25 {
  font-size: 25px;
}

.t-33 {
  font-size: 33px;
}

.t-35 {
  font-size: 35px;
}

.t-44 {
  font-size: 44px;
}

.t-50 {
  font-size: 50px;
}

.t-52 {
  font-size: 52px;
}

.t-60 {
  font-size: 60px;
}

.t-68 {
  font-size: 68px;
}

.t-85 {
  font-size: 85px;
}



/* Utils */

.card-purple {
  width: 80%;
  background-color: var(--purpleOrigin);
  border-radius: 25px;
  padding: 25px 25px;
}

.w-100 {
  width: 100%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.w-30 {
width: 30%;
}

.h-100 {
  height: 100%;
}

.flex {
  display: flex;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline !important;
}

.justify-center {
  justify-content: center;
}

.bottom {
  bottom: 0;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  padding: 8px 100px;
  position: relative;
  top: 4px;
  margin-bottom: 3px;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.nav-li {
  width: 150px;  
}

.nav-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 18px;
  text-decoration: none;
}

.nav-li a.options-nav {
  position: relative;
  display: inline-block;
  transition: color .5s;
  border-radius: 5px;
  padding: 6px 20px;
}

.nav-li a.options-nav::before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--redOrigin);
  border-radius: 5px;
  z-index: -1;
  transform: scaleX(0);
  transition: transform .2s;
  opacity: 0;
}

a.options-nav:hover {
  color: #fff !important;
  font-family: 'Poppins-Bold';
}

a.options-nav:hover::before {
  transform: scaleX(1);
  opacity: 1;
}

.contacto {
  text-decoration: none;
  background-color: var(--lightBlueOrigin);
  border-radius: 5px;
  padding: 6px 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  transition: .3s;
}

.contacto:hover {
  background-color: var(--redOrigin);
}

li img {
  margin: auto;
}

li img:hover {
  cursor: pointer;
}

.footer-li {
  display: flex;
}

.footer-li a {
  transition: .3s;
}

.footer-li a:hover {
  cursor: pointer;
  color: var(--redOrigin);
}

.main-view {
  position: relative;
  background-image: url(/assets/img/rectangle_19_3x.webp);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.rocks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.waves {
  bottom: -1px;
}

.glue {
  width: 100%;
  height: 100%;
  margin-bottom: 25%;
}

.glue-container {
  width: 800px;
  object-fit: cover;
  right: 0px;
}

.bottle {
  scale: 70%;
  margin-right: 30%;
}

.white-bottom-waves {
  width: 100%;
  z-index: 2;
}

.bottle {
  z-index: 2;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color .3s ease;
  z-index: 5;
}

.content-first,
.content-four,
.content-five {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-first {
  padding-top: 70px;
}

.content-second {
  justify-content: center;
  align-items: center;
}

.content-texts,
.content-images {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-texts {
  display: flex;
  flex-direction: column;
}

.content-scrolleable-div {
  height: 795px;
  overflow-y: auto;
}

#content-scrolleable-div::-webkit-scrollbar {
  display: none;
}

#content-scrolleable-div {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.vector-bg {
  background-color: white;
  background-image: url(/assets/img/vector-bg.webp);
  background-size: cover;
}

.radial-white {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.9640231092436975) 50%, rgba(255, 255, 255, 0.3337710084033614) 99%);
}

footer {
  height: 600px;
  background-image: url(/assets/img/mountains_footer.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

path.icon:hover {
  fill: #000;
}